@import url(/src/styles/colors.css);

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text);
}

.song-container {
  display: flex;
  flex-direction: column;
  margin: 3rem auto 2rem;
  align-items: center;
}

.song-img {
  margin: 2rem;
  border-radius: 2rem;
  box-shadow: 2rem 3rem 5rem rgba(0, 0, 0, 1);

}

@media (max-width: 819px) {
  .song-container {
    max-width: 100%;
  }
}

@media (min-width: 819px) and (max-width: 992px){
  .song-container {
    max-width: 80%;
  }
}

@media (min-width: 992px){
  .song-container {
  width: 40%;
  }
}