.button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.button-container__handle-player {
  display: flex;
  margin: 1rem auto 2rem;
  justify-content: center;
  gap: 3rem;
}

.button-container svg {
  font-size: 2.3rem;
  cursor: pointer;

}

.duration-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.mute-btn {
  display: flex;
  margin: auto;
  font-size: 1.5rem;
  cursor: pointer;

}