@import url('../../styles/colors.css');

.search-main-container {
    margin: 2rem;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 250px;
}

.search-results-no-match{
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.search-bottom-space{
    height: 25rem;
}
