.library-main-page__header {
    background-color: var(--color-bg-primary);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
    width: 42rem;
    padding: 2rem;
    position: fixed;
    top: 0px;
}

.library-main-page__header h2 {
    font-size: 2rem;
    padding-left: 1rem;
}

.library-main-page {
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
}

.library-main-page__list {
    list-style-type: none;
}

.library-main-page__list li {
    display: flex;
    align-items: center;
    margin-bottom:1.2rem;
    color: var(--color-text);
    cursor: pointer;
}

.library-main-page__list li img {
    margin-right: 1.5rem;
}

.library-bottom-space{
    height: 25rem;
}

.fav-tracks-img{
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
}

@media (min-width: 819px){
    .fav-tracks-img{
        height: 10rem;
        width: 10rem;
        border-radius: 1rem;
    }
    .library-main-page__list li img {
        height: 10rem;
        width: 10rem;
    }
    .library-tittle{
        font-size: 2rem
    }
    .library-description{
        font-size: 1.5rem
    }
}