:root {
    --color-primary: #121217;
    --color-secondary: #AE61D2;
    --color-tertiary: #1A80E5;
    --color-text: #FFFFFF;
    --color-text-secondary: #9EABB8;
    --color-text-tertiary: #FFFFFF;
    --color-bg-primary: #121217;
    --color-bg-secondary: #1C1C26;
    --color-bg-tertiary: #293038;
    --color-link: #1A80E5;
    --color-link-hover: #1A80E5;
    --color-btn-primary: #293038;
}