.configpage-btn {
    border: none;
    color: var(--color-text);
    background-color: var(--color-primary);
    padding: 2rem;
    cursor: pointer;
}

.configpage-back {
    margin-top: 1.5rem;
}

.configpage-header {
    display: flex;
}

.configpage-title {
    margin-left: 12rem;
    font-size: 3rem;
}

.configpage-user-info {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    font-size: 1.10rem
}

.configpage-profile-pic {
    width: 7rem;
    height: 7rem;
}

.configpage-user-pic-and-name {
    display: flex;
}

.configpage-user-text {
    margin-left: 1rem;
    padding-left: 1rem;
    font-size: 1.4rem;
}



.configpage-menu {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 1.4rem;
}

.configpage-menu p {
    margin-bottom: 1rem;
}

.configpage-logout {
    display: flex;
    justify-content: center;
}

.configpage-logout-btn {
    border: none;
    color: var(--color-text);
    background-color: var(--color-secondary);
    padding: 1rem;
    width: 15rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
}

.configpage-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    top: 35%;
    align-self: center;
    left: 8rem;
    margin-top: 2rem;

}

.configpage-menu p {
    margin-left: 3%;
}

.configpage-password-form label {
    margin-bottom: 1rem;
}

.configpage-password-change-title {
    position: relative;
    cursor: pointer;
}

.configpage-save-btn {
    border: none;
    color: var(--color-text);
    background-color: var(--color-secondary);
    border-radius: 2rem;
    padding: 1rem;
    width: 15rem;
    font-size: 1.8rem;
    margin-top: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.configpage-input {
    margin-left: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--color-secondary);
    cursor: pointer;
}

@media (min-width: 819px) {
    .configpage-title {
        align-self: center;
        margin-left: 40rem;
    }

    .configpage-user-info {
        font-size: 1.8rem;
    }

    .configpage-profile-pic {
        width: 9rem;
        height: 9rem;
    }

    .configpage-menu {
        font-size: 2rem;
    }

    .configpage-save-btn {
        font-size: 2.2rem;
    }

    .configpage-password-form {
        margin-top: 17%;
    }

    .configpage-logout {
        margin-top: 10%;
    }

    .configpage-menu p {
        margin-left: 13%;
    }
}