@import url('../../styles/colors.css');

html{
    font-size: 62.5%; /* 1rem = 10px (10px / 16 * 100%) */
    background-color: var(--color-primary);
    color: var(--color-text);
    font-family: 'Be Vietnam Pro', sans-serif;
}

.home-main-container{
    margin: 2rem;
}

.home-settings-btn{
    border: none;
    background-color: var(--color-primary);
    cursor: pointer;
}

.home-welcome-section{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.home-username{
    font-size: 2rem
}

.home-fav-songs, .home-jump-back-in, .home-recently-played{
    overflow-x: auto;
    margin-top: 2rem;
}

.home-miniplaylist-display{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin-top: 2rem
}

.home-bottom-space{
    height: 25rem;
}
