.card-skeleton {
    display: flex;
    flex-direction: column;
}

.card-skeleton-img {
    width: 17rem;
    height: 17rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 10%;
}

.card-skeleton-title {
    width: 17rem;
    height: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 10%;
}