
.searchbar-input {
    width: 35.6rem;
    height: 4.8rem;
    border-radius: 1.2rem;
    margin: 1rem 1.6rem;
    background-color: var(--color-bg-tertiary);
    border: none;
    font-size: 1.6rem;
    padding-left: 4rem;
    color: var(--color-text);
    background-image:url(../../assets/icons/search-sharp.svg);
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: left center;
    background-position-x: 3%;

}

@media (min-width: 819px){
    .searchbar-input{
        width: 73rem;
        padding-left: 6rem;

    }
}