@import url(/src/styles/colors.css);

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text);
}

.user_container {
  margin: 1rem auto 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_container img {
  width: 30%;
  object-fit: cover;
}

.back_button {
  font-size: 1.6rem;
  margin-left: 1rem;
}

.user-fav-songs, .user-albums{
  overflow-x: auto;
}

